- if current_user
  %h2.welcome= "Aqui está um gatinho pra você #{current_user.email}"

  = link_to "Obrigado pelo gatinho, mas eu quero sair", logout_path, method: :delete, id: "logout-link"

.kitty
  = image_tag "http://placekitten.com/500/500"