/* Reset */

html, body, div, h1, h2, h3, h4, ul, ol, li, form, fieldset, select, input, textarea, p {
	margin: 0;
	padding: 0;
	font-size: 100%;
	background: transparent;
}

a, ins { text-decoration: none; }

del { text-decoration: line-through; }

hr { display: none; }

ul, ol { list-style: none; }

img, fieldset { border: none; }

h1, h2, h3, h4 { font-weight: normal; }

em { font-style: italic; }

strong { font-weight: bold; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

abbr[title], dfn[title]{
	cursor: help;
	border-bottom: 1px dotted;
}

pre, code {
	font-family: monospace;
}